{
  "project": {
    "project_name": "Test Store",
    "repository_path": "git@bitbucket.org:test/repo.git",
    "git_tty" : false
  },
  "environments" : {
    "staging" : {
      "hostname" : "server.domain.com",
      "user" : "pauline",
      "port" : "",
      "deploy_path" : "/path/to",
      "branch" : "master",
      "is_production" : 0,
      "identity_file" : "/Users/igorludgeromiura/.ssh/id_rsa",
      "languages" : "en_US",
      "php_path" : "/usr/bin/php",
      "composer_path" : "/usr/bin/composer",
      "keep_releases" : 3,
      "http_user" : "apache",
      "slack_webhook" : "https://hooks.slack.com/services/test/test/test",
      "additional_commands" : {
        "before_deploy" : [],
        "after_deploy" : []
      },
      "shared_files" : [],
      "shared_dirs" : [],
      "writable_dirs" : [],
      "clear_paths" : []
    }
  }
}