{
  "project": {
    "project_name": "Imagination Media Innovations Website",
    "repository_path": "git@bitbucket.org:imagination-media/innovations-website-m2.git",
    "git_tty" : false,
  },
  "environments" : {
    "production" : {
      "hostname" : "54.177.43.119",
      "user" : "root",
      "password" : "",
      "port" : "",
      "deploy_path" : "/var/www",
      "branch" : "master",
      "is_production" : 1,
      "identity_file" : "/Users/igorludgeromiura/.ssh/aws-innovate.pem",
      "languages" : "en_US",
      "php_path" : "/usr/bin/php",
      "composer_path" : "/usr/bin/composer",
      "keep_releases" : 3,
      "additional_commands" : {
        "before_deploy" : {
        },
        "after_deploy" : {
        }
      }
    }
  }
}